* {
    box-sizing: border-box;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    margin: 0;
    position: relative;
}

.box {
    position: relative;
}

iframe {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
}


.modal {
    z-index: 120;
}

.modal-backdrop {
    z-index: 110;
}

.shadow_box {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.selector_item {
    position: absolute;
    background-color: rgba(211, 232, 242, 0.7);
    border: 1px solid rgb(20, 174, 247);
    opacity: 0;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    cursor: pointer;
}

.selector_item:hover {
    opacity: 1;
}

.popover_edit_box {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 0;
}

.popover_edit_box button {
    display: inline-block;
    width: 58px;
    height: 58px;
    line-height: 58px;
    text-align: center;
    vertical-align: middle;
    transition: all 0.3s linear;
}

.popover_edit_box button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.popover_edit_box button.delete i {
    font-size: 23px;
}

.popover_edit_box i {
    color: #fff;
    font-size: 20px;
}

.router_uploader_box {
    position: relative;
    width: 100%;
    height: 100%;
}

.router_uploader_box .router_uploader_inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.img_selector .input_upload {
    opacity: 0;
}

.global_setting_box {
    position: relative;
    height: 60px;
    background-color: #373C40;
    text-align: center;
    padding: 0 60px 0 40px;
}

.global_setting_box .global_setting_part .icon_box {
    color: #fff;
    font-size: 18px;
    display: inline-block;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}

.global_setting_box .global_setting_part .icon_box i {
    font-size: 18px;
}

.global_setting_box .global_setting_part .icon_box:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.global_setting_box .global_setting_part {
    height: 100%;
    line-height: 60px;
}

.global_setting_box .global_setting_part.part1 {
    float: left;
}

.global_setting_box .global_setting_part.part1 .icon_box {
    margin-right: 20px;
}

.global_setting_box .global_setting_part.part2 {
    display: inline-block;
}

.global_setting_box .global_setting_part.part3 {
    float: right;
}
